[x-cloak] {
    display: none !important;
}

@tailwind base;
@tailwind components;

.sidebar-nav::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}
.sidebar-nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@tailwind utilities;
